
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="alert alert-success">
                <h4>
                    Bạn đã mua hàng thành công !
                </h4>
            </div>
            <a class="text" href="/">Tiếp tục mua sắm !</a>
        </div>
    </div>
</section>

