@model List<ShopBook3.Models.CartProduct>

<div class="col-md-8">
    <div class="shop-menu pull-right">
        <ul class="nav navbar-nav">            
            <li><a href="/Cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng: @Model.Count sản phẩm(s)</a></li>
        </ul>
    </div>
</div>
