
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="static about-sec">
    <div class="container">
        <h2 class="title text-center">VỀ CHÚNG TÔI</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
    </div>
</section>


