
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="static about-sec">
    <div class="container">
        <h2 class="title text-center">VỀ CHÚNG TÔI</h2>
        <p>
           Trang web được thực hiện bởi nhóm sinh viên năm 3 Trường Đại học Sư phạm kỹ thuật thành phố Hồ Chí Minh (HCMUTE)
        </p>
    </div>
</section>


