
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="static about-sec">
    <div class="container">
        <h2 class="title text-center">PHƯƠNG THỨC VẬN CHUYỂN</h2>
        <br />
        <p>
            Với đa phần đơn hàng, SHOP cần vài giờ làm việc để kiểm tra và gói hàng trong hệ thống hơn 112 nhà sách cả nước. Nếu có hàng, SHOP sẽ nhanh chóng bàn giao cho đối tác vận chuyển . Nếu đơn hàng có sản phẩm hết hàng, hoặc sản phẩm sắp phát hành, SHOP.com sẽ ưu tiên giao sản phẩm có hàng trước cho Quý khách hàng.
        </p>
    </div>
</section>


