
@{
    ViewBag.Title = "Ex_Re";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="static about-sec">
    <div class="container">
        <h2 class="title text-center">CHÍNH SÁCH ĐỔI TRẢ</h2>
        <br />
        <p>
            Chúng tôi luôn trân trọng sự tin tưởng và ủng hộ của khách hàng khi đặt mua sản phẩm tại SHOP.com. Do đó chúng tôi luôn cố gắng hoàn thiện dịch vụ tốt nhất phục vụ mọi nhu cầu mua sắm của quý khách.
            SHOP.com chúng tôi luôn luôn cam kết tất cả các sản phẩm bán tại SHOP.com 100% là những sản phẩm chất lượng và xuất xứ nguồn gốc rõ ràng, hợp pháp cũng như an toàn cho người tiêu dùng.
        </p>
    </div>
</section>

