
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="static about-sec">
    <div class="container">
        <h2 class="title text-center">CHÍNH SÁCH BẢO MẬT</h2>
        <br />
        <h4>Thông tin bảo mật</h4>
        <p>
            Bảo mật thông tin khách hàng là một trong những ưu tiên hàng đầu nhằm tạo điều kiện mua sắm tốt nhất cho quý khách tại SHOP. Chúng tôi hiểu sử dụng hợp lý và bảo mật thông tin sẽ thể hiện sự quan tâm của SHOP dành cho quí khách. Vì thế, SHOP cam kết việc sử dụng thông tin trên sẽ chỉ nhằm nâng cao chất lượng dịch vụ khách hàng và tạo môi trường mua sắm an tòan, tiện lợi tại SHOP.
        </p>
        <br />
        <h4> SHOP cam kết bảo vệ thông tin của khách hàng</h4>
        <p>
            SHOP cam đoan sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của quý khách vì bất cứ mục đích gì. Tất cả thông tin giao dịch giữa quý khách và SHOP sẽ được bảo mật qua phần mềm Secure Sockets Layer (SSL) bằng cách mã hóa tất cả thông tin quý khách nhập vào.
        </p>
    </div>
</section>

